# Abaikan folder cache Python di manapun letaknya
__pycache__/
*.pyc

# Abaikan database lokal (agar data siswa tidak ke-upload)
instance/
*.db
*.sqlite3

# Abaikan file media dan gambar yang di-upload
uploads/
*.png
*.jpg
*.jpeg
*.gif
*.svg

# Abaikan file lingkungan virtual
.env
venv/